.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    font-family: Arials, Helvetica, sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
}

header {
    background: linear-gradient(45deg, rebeccapurple, midnightblue);
    padding: 25px 0;
}

.hidden {
    display:none;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#character_nav {
    background-color: #675050;
    background-image: url('../images/spidermancover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.characters li {
    height: 220px;
    margin: 10px 8px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0px 155px 0px rebeccapurple inset;
    transition: box-shadow .2s ease;
}

.characters li:hover {
    box-shadow: 0px 220px 0px rebeccapurple inset;
}

.characters li h5 {
    color: white;
    padding: 12px 8px;
}

.characters li a {
    text-decoration: none;
}

article, #instructions {
    padding: 10px;
}

article h3, #instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

article p, #instructions p {
    font-size: 18px;
    text-align: center;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../images/spidermanSprites.jpg')
}

#gwen {background-position: -150px 0;}
#peter {background-position: -300px 0;}
#pavitr {background-position: -450px 0;}
#miguel {background-position: -600px 0;}
#jessica {background-position: -750px 0;}

#miles:hover, #gwen:hover, #peter:hover, #pavitr:hover, #miguel:hover, #jessica:hover {
    background-position-y: -150px;
}

footer {
    text-align: center;
    padding: 2px 0px 40px 0px;
}

.sticky_footer {
    height: 80px;
    width: 100vw;
    background: linear-gradient(90deg, rebeccapurple, midnightblue);
    position: sticky;
    top: 100%;
    display: inline-flex;
    align-items: center;    
    justify-content: center;
}

#footer_text {
    margin: 0 0 0 5px;
}
/* Start */
.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.85);
    background-image: url('../images/miles.png');
    background-repeat: no-repeat;
    background-size: 78vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox_close {
    position: absolute;
    top: 20px;
    right: 5%;
    color: white;
    font-size: 36px;
    text-decoration: none;
    font-weight: bolder;
    transition: all .1s ease-in-out;
}

.lightbox_close:hover {
    opacity: 0.5;
    color: red;
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading {
    text-align: left;
}

.lb_text {
    line-height: 26px;
}

.lightbox:target {
    display: block;
}

.lightbox2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.85);
    background-image: url('../images/gwen.png');
    background-repeat: no-repeat;
    background-size: 85vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox2 article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox2:target {
    display: block;
}

.lightbox3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.85);
    background-image: url('../images/peter.png');
    background-repeat: no-repeat;
    background-size: 76vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox3 article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox3:target {
    display: block;
}

.lightbox4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.85);
    background-image: url('../images/miguel.png');
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox4 article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox4:target {
    display: block;
}

.lightbox5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.85);
    background-image: url('../images/pavitr.png');
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox5 article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox5:target {
    display: block;
}

.lightbox6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.85);
    background-image: url('../images/jessica.png');
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox6 article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox6:target {
    display: block;
}