.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    font-family: Arials, Helvetica, sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rebeccapurple;
    padding: 25px 0;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#character_nav {
    background-color: #675050;
    background-image: url('../images/spidermancover.png');
    background-repeat: no-repeat;
    background-size :cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.characters li {
    height: 220px;
    margin: 10px 8px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0px 155px 0px rebeccapurple inset;
    transition: box-shadow .2s ease;
}

.characters li:hover {
    box-shadow: 0px 220px 0px rebeccapurple inset;
}

.characters li h5 {
    color: white;
    padding: 12px 8px;
}

.characters li a {
    text-decoration: none;
}

article, #instructions {
    padding: 10px;
}

article h3, #instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

article p, #instructions p {
    font-size: 18px;
    text-align: center;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../images/spidermanSprites.jpg')
}

#gwen {background-position: -150px 0;}
#peter {background-position: -300px 0;}
#pavitr {background-position: -450px 0;}
#miguel {background-position: -600px 0;}
#jessica {background-position: -750px 0;}

#miles:hover, #gwen:hover, #peter:hover, #pavitr:hover, #miguel:hover, #jessica:hover {
    background-position-y: -150px;
}

footer {
    text-align: center;
    padding: 25px 0;
}

.sticky_footer {
    height: 80px;
    width: 100vw;
    background-color: rebeccapurple;
    position: sticky;
    top: 100%;
    display: inline-flex;
    align-items: center;    
    justify-content: center;
}

#footer_text {
    margin: 0 0 0 5px;
}